{% set domainList = openldap_domain.split('.') %}
dn: {% for d in domainList[:-1] %}dc={{ d }},{% endfor %}dc={{ domainList[-1] }}
objectclass: dcObject
objectclass: organization
o: {{ domainList[0] }}
dc: {{ domainList[0] }}

dn: ou=users,{% for d in domainList[:-1] %}dc={{ d }},{% endfor %}dc={{ domainList[-1] }}
objectClass: organizationalUnit
objectClass: top
ou: users

dn: ou=groups,{% for d in domainList[:-1] %}dc={{ d }},{% endfor %}dc={{ domainList[-1] }}
objectClass: organizationalUnit
objectClass: top
ou: groups

dn: uid=testuser,ou=users,{% for d in domainList[:-1] %}dc={{ d }},{% endfor %}dc={{ domainList[-1] }}
objectClass: top
objectClass: account
objectClass: posixAccount
objectClass: shadowAccount
cn: testuser
uid: testuser
uidNumber: 1500
gidNumber: 1500
homeDirectory: /home/testuser
loginShell: /bin/bash
userPassword: {{ openldap_gen_testpw.stdout }}
shadowLastChange: 0
shadowMax: 0
shadowWarning: 0

dn: cn=testgroup,ou=groups,{% for d in domainList[:-1] %}dc={{ d }},{% endfor %}dc={{ domainList[-1] }}
objectClass: top
objectClass: posixGroup
gidNumber: 1500
